
header {
	text-align:center;
	background-color:green;
	padding:30px;
	color:white;
	
}


h3 {
	color:white;
	text-align:center;
	backgroung-color:black;
}
	
nav {
	background-color:black;
	color:white;
	text-align:center;
	padding:10px;
	font-weight:bold;
}

nav a {
	color:white;
	margin:10px;
	text-decoration:none;
	
}

section {
	align-items:center;
	
}	

.me {
margin-bottom:40px;	
margin-top:20px;	
}

section div img {
	height:300px;
	width:300px;
	margin-left:350px;
	border-radius:30px;
	margin-bottom:20px;
	
}
.me {
background-color:white;
border:50px solid white;
padding:40px;
box-shadow:0px 0px 10px gray;
align-items:center;
margin-left:80px;
margin-right:80px;
	
}

footer {
	background-color:black;
	color:white;
	text-align:center;
	padding:15px;
}	


.about {
	background-color:white;
border:50px solid white;
padding:40px;
box-shadow:0px 0px 10px gray;
margin-left:80px;
margin-right:80px;
margin-bottom:20px;	
}
div p {
	text-align:center;
	
}
